UseDNS no

# Log SFTP file transfers
# Subsystem sftp internal-sftp -e -l INFO
Subsystem   sftp    internal-sftp -f AUTH -l INFO
ChrootDirectory %h
ForceCommand internal-sftp -e -l INFO

# Limited access
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no

AuthorizedKeysFile /etc/ssh/keys/%u/authorized_keys