global
    log 127.0.0.1     local0
    log 127.0.0.1     local1 notice
    ulimit-n 65536
    {%- if debug is defined %}
    debug
    {%- endif %}    
    maxconn 25000
    user haproxy
    group haproxy
    daemon
    {%- if insecure is defined %}
    {% else %}
    # set default parameters to the intermediate configuration
    tune.ssl.default-dh-param 2048
    ssl-default-bind-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    ssl-default-bind-options no-sslv3 no-tls-tickets
    ssl-default-server-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    ssl-default-server-options no-sslv3 no-tls-tickets
    ssl-default-bind-options force-tlsv12 
    ssl-default-bind-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1
    ssl-default-server-options force-tlsv12
    ssl-default-server-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1
    {% endif %}
defaults
    log global
    mode http

    option dontlog-normal
    option dontlognull
    option forwardfor
    option http-server-close
    option abortonclose
    option redispatch

    retries 3
    contimeout 300000
    clitimeout 300000
    srvtimeout 300000
    maxconn 25000

    stats enable
    stats auth haproxyuser:Ahkiul123
    stats uri /haproxyStats

    # end point to monitor HAProxy status (returns 200)
    monitor-uri /status

{% if authusers is defined %}
userlist basic-auth-list
    {%- for authuser in authusers.users %}
        {%- for key, value in authuser.items() %}
            user {{ key }} insecure-password {{ value }}
        {%- endfor %}
    {%- endfor %}
{%- endif %}

frontend http-in
    bind *:80
    acl restricted_page path_beg /server-status
    block if restricted_page

{%- if defaultsite is defined %}
    default_backend backend_{{ defaultsite }}
{%- endif %}

    # ACL's and backends from equalizer
{%- for site in sites %}
    # {{ site }}
  {%- for domain in sites[site].domains %}
    {% if sites[site].ssl is defined and sites[site].ssl == 'force' %}
    # force https redirect
    redirect scheme https if { hdr(Host) -i {{ domain }} } !{ ssl_fc }
    {% endif %}
    acl host_{{ site }} hdr(host) -i {{ domain }}
    use_backend backend_{{ site }} if host_{{ site }}
  {%- endfor %}
{% endfor %}

{%- for site in sites if sites[site].ssl is defined %}
  {% if loop.index == 1 %}
frontend https-in
    bind *:443 ssl crt /etc/haproxy/certs/
    reqadd X-Forwarded-Proto:\ https
  {%- endif %}
{%- endfor %}
{%- for site in sites %}
      {%- if sites[site].ssl is defined %}
    # SSL SNI from equalizer
    # {{ site }}
        {%- for domain in sites[site].domains %}
    use_backend backend_{{ site }} if { ssl_fc_sni {{ domain }} }
        {%- endfor %}
      {%- endif %}
{%- endfor %}

# Backends from yaml
{%- for site in sites %}
backend backend_{{ site }}
        balance leastconn
        #option httpclose
        option forwardfor
        {%- if sites[site].auth is defined and authusers is defined %}
        acl auth_ok http_auth(basic-auth-list)
        http-request auth unless auth_ok
        http-request del-header Authorization
	{%- endif %}
        server server-{{ site }} 172.17.0.1:{{ sites[site].port }} cookie A check
{% endfor %}
