<IfModule mpm_event_module>
	StartServers {{ APACHE_START_SERVERS }}
	MinSpareThreads 25
	MaxSpareThreads 250
	ThreadLimit	64
	ThreadsPerChild	25
	MaxRequestWorkers {{ APACHE_MAX_REQUEST_WORKERS }}
	MaxConnectionsPerChild 0
</IfModule>
